extends base

block content
    div.large-12.cell
        h1 Public Opinion
    div.large-12.cell
        a.button(href='/get_cities') Get Cities
    div.large-12.cell
        a.button(href='/get_coordinates') Fill Coordinates
    div.large-12.cell
        a.button(href='/analyze_tweets') Get Sentiment Score for all tweets
        each city, i in cities
            div.card
                div.card-divider
                    h4=city.name
                div.card-section
                    a.button(href='/get_trends/'+city.woeid) Get Trends    
                div.card-section
                    ul.accordion(data-accordion='')
                        each trend, j in city.trends
                            li.accordion-item(data-accordion-item='')
                                a.accordion-title(href='#')= trend.name
                                .accordion-content(data-tab-content='')
                                    p Press to get tweets for this trend
                                    a.button(href='/get_tweets/'+city.woeid+'/'+trend.query) Get Tweets 
                                    a.button(href='/create_graph/'+city.woeid+'/'+trend.query) Create Graph
