doctype html
html
    head
        title Public Opinion
        link(rel='stylesheet' href='/css/foundation.css')
        link(rel='stylesheet' href='/css/app.css')
               
        block header
    body
        .grid-container
            block content
            br
            hr
            footer
                p Copyright &copy 2019
            script(src='/js/vendor/jquery.js')
            script(src='/js/vendor/what-input.js')
            script(src='/js/vendor/foundation.js')
            script(src='/js/app.js') 
